<!-- This is a reusable fragment that should be added at the top of every page (except login). -->
<header xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <nav sec:authorize="!isAuthenticated()">
        Not logged in.<br/>
        <a href="/login">Login</a><br/>
        <a href="/register">Register</a>
    </nav>
    <nav sec:authorize="isAuthenticated()">
        Logged in as: <span sec:authentication="name"></span>
        <a href="/">Home</a>
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <div><input type="submit" value="Sign Out"/></div>
        </form>
    </nav>
    <hr/>
</header>