<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify questions</title>
</head>
<body>
    <div th:replace="fragments/header"></div>
    <h1>Add or remove questions</h1>
    <p th:text="${survey.name}"></p>

    <!-- Form to add a new question -->
    <form th:action="@{/addQuestion/{surveyId}(surveyId=${survey.id})}" method="post">
        <label for="questionDD">Choose question type</label>
        <select id = "questionDD">
            <option value="openEnded">Text</option>
            <option value="range">Range</option>
            <option value="multipleChoice">Options</option>
        </select><br><br>
        <label for="questionText">Create new question:</label>
        <textarea id="questionText" name="questionText" required></textarea><br><br>
        <input type="submit" value="Add">
    </form>

    <!-- Display existing questions and allow deletion -->
    <ul>
        <th:block th:each="question : ${survey.questions}">
            <li>
                <span th:text="${question.question}"></span>
                <form th:action="@{/deleteQuestion/{surveyId}/{questionId}(surveyId=${survey.id}, questionId=${question.id})}" method="post" style="display: inline;">
                    <input type="submit" value="Delete">
                </form>
                <p></p> <!-- For spacing, this will be improved anyway later -->
            </li>
        </th:block>
    </ul>
    <form action="#" th:action="@{/viewResults/{surveyId}(surveyId=${survey.id})}" method="get">
        <p><input type="submit" value="View Results" /></p>
    </form>
    <!-- Form to delete the entire survey -->
    <form th:action="@{/deleteSurvey/{surveyId}(surveyId=${survey.id})}" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Delete Survey">
    </form>
</body>
</html>