<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Mini Survey Monkey - SLAY</title>
  <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
<div th:replace="fragments/header"></div>
<img src="https://media1.tenor.com/m/mjthUks8O5kAAAAC/slay-hit-the-slay-button.gif" width="518" height="417.1044176706828" alt="Slay Hit The Slay Button GIF - Slay Hit The Slay Button Barbie GIFs" style="max-width: 518px;">
</body>
</html>