<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});

        function drawHistogramChart(arr, id) {

            dataArr = arr.map(function (value) {
                return [value];
            });

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Response')
            data.addRows(dataArr)

            var options = {
                'width':400,
                'height':300};

            var chart = new google.visualization.Histogram(document.getElementById("histogram" + id));

            chart.draw(data, options);
        }

        function drawPieChart(arr, id) {

            var counts = {};
            arr.forEach((x) => {
                counts[x] = (counts[x] || 0) + 1;
            });
            var dataRows = Object.entries(counts)

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Option');
            data.addColumn('number', 'Number of Responses');
            data.addRows(dataRows)

            var options = {
                'width':400,
                'height':300};

            var chart = new google.visualization.PieChart(document.getElementById("pie" + id));

            chart.draw(data, options);
        }

        function histogram(arr, id){
            google.charts.setOnLoadCallback(function(){drawHistogramChart(arr, id)})
        }

        function pieChart(arr, id){
            google.charts.setOnLoadCallback(function(){drawPieChart(arr, id)})
        }
    </script>
</head>
<body>
    <div th:replace="~{fragments/header}"></div>
    <h1 th:text="'Results of the Survey: '+ ${survey.name}"></h1>
    <div th:each="question,iterator : ${survey.questions}">
        <div th:text = "'Question:'"></div>
        <div th:if="${question.class.name == 'org.group23.TextQuestion'}">
            <div th:text = "${question.question}"></div>
            <div th:text = "'Responses:'"></div>
            <div th:each="result : ${question.answers}">
                <div th:text="${result}"></div>
            </div>
        </div>
        <div th:if="${question.class.name == 'org.group23.NumericalQuestion'}">
            <div th:text = "${question.question}"></div>
            <script type="text/javascript" th:inline="javascript">
                var arr = [[${question.answers}]];
                var id = [[${iterator.index}]];
                histogram(arr, id);
            </script>
            <div th:id="'histogram'+${iterator.index}"></div>
        </div>
        <div th:if="${question.class.name == 'org.group23.MCQuestion'}">
            <div th:text = "${question.question}"></div>
            <script type="text/javascript" th:inline="javascript">
                var arr = [[${question.answers}]];
                var id = [[${iterator.index}]];
                pieChart(arr, id);
            </script>
            <div th:id="'pie'+${iterator.index}"></div>
        </div>
    </div>
</body>
</html>