<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/header"></div>
    <h1 th:text="'Results of the survey: '+ ${survey.name}"></h1>
    <div th:each="question : ${survey.questions}">
        <div th:text = "'Question:'"></div>
        <div th:if="${question.class.name == 'org.group23.TextQuestion'}">
            <div th:text = "${question.question}"></div>
            <div th:text = "'Responses:'"></div>
            <div th:each="result : ${question.answers}">
                <div th:text="${result}"></div>
            </div>
        </div>
        <div th:if="${question.class.name == 'org.group23.NumericalQuestion'}">
            <div th:text = "${question.question}"></div>
            <div th:text = "'Responses:'"></div>
            <div th:each="result : ${question.answers}">
                <div th:text="${result}"></div>
            </div>
        </div>
        <div th:if="${question.class.name == 'org.group23.MCQuestion'}">
            <div th:text = "${question.question}"></div>
            <div th:text = "'Responses:'"></div>
            <div th:each="result : ${question.answers}">
                <div th:text="${result}"></div>
            </div>
        </div>
    </div>
</body>
</html>