/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1, h2, h3 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

input[type=button], input[type=submit], input[type=reset], button, .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/*Page Layout*/
.container{
    display: flex;
}
.leftSide{
    flex: 1;
}
.rightSide{
    flex: 1;
    margin: 20px;
}
